<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gastro Sal{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'jobdata/css/styles.css' %}">
</head>
<body>
    <header>

    </header>
    <main role="main" class="container-fluid mt-5">
        <div class="container mt-5">
            {% block content %}
            {% endblock %}
        </div>
        <div class="container text-center">
            <span class="text-muted">Siempre tomá los valores como referencia y no como un absoluto. Actualmente hay {{ data_count }} salarios registrados.</span>
        </div>
    </main>
    {% block footer %}
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">©GastroSal fue desarrollado con mucho cariño por Matías Senia, inspirado por ©Salancy - Página actualizada al {{ date }}, {{ time }}. </span>
        </div>
    </footer>
    {% endblock %}
    <script src="{% static 'jobdata/js/scripts.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
