{% extends "jobdata/base.html" %}
{% load form_tags %}

{% block title %}Lista de Datos - GastroSal{% endblock %}

{% block content %}
<div class="mt-5">
    <div>
        <h1>GastroSal</h1>
        <h2>Listado de Datos</h2>
    </h1>
    <!-- Formulario de filtro -->
    <form method="GET" class="form-inline mb-4">
        {{ form.position }}
        {{ form.currency }}
        {{ form.contract_type }}
        <button type="submit" class="btn btn-primary ml-2">Buscar</button>
    </form>

    <!-- Listado de datos filtrados -->
    <div class="container-fluid mt-5">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>Puesto</th>
                        <th>Moneda</th>
                        <th>Salario</th>
                        <th>Tipo de contrato</th>
                        <th>Nombre del Restaurante</th>
                        <th>Género</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ item.position }}</td>
                            <td>{{ item.currency }}</td>
                            <td>
                                {% if item.currency == "ARS" %}
                                    $ {{ item.salary }}
                                {% elif item.currency == "USD" %}
                                    U$D {{ item.salary }}
                                {% else %}
                                    {{ item.salary }}
                                {% endif %}
                            </td>
                            <td>{{ item.contract_type }}</td>
                            <td>{{ item.restaurant_name }}</td>
                            <td>{{ item.gender }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">No se encontraron datos.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
