:root {
    --background-dark: #121212;
    --background-medium: #1e1e1e;
    --background-light: #333;
    --text-light: #ffffff;
    --text-muted: #bbbbbb;
    --border-color: #444;
    --focus-border-color: #555;
    --placeholder-color: #aaaaaa;
}

body {
    background-color: var(--background-dark);
    color: var(--text-light);
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--background-medium);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
}

.footer {
    background-color: var(--background-medium);
}

.bg-light {
    background-color: var(--background-light) !important;
}

.text-muted {
    color: var(--text-muted) !important;
}

.table {
    background-color: var(--background-medium);
    color: var(--text-light);
    
}

.table thead th,
.table tbody tr {
    background-color: var(--background-medium);
    color: var(--text-light);
    height: 3em;
}

.table-hover tbody tr:hover {
    background-color: var(--focus-border-color); /* Fondo del color de enfoque */
}

.table-hover tbody tr:hover td {
    color: var(--text-light) !important; /* Texto blanco */
}

.navbar,
.navbar-light .navbar-nav .nav-link {
    background-color: var(--background-light);
    color: var(--text-light);
}

.card,
.card-header,
.card-footer,
.btn {
    background-color: var(--border-color);
    color: var(--text-light);
    border: none;
    border-radius: 8px;
}

.btn:hover {
    background-color: var(--focus-border-color);
}

input,
select,
textarea {
    background-color: var(--background-medium);
    color: var(--text-light);
    border: 1px solid var(--border-color);
    padding: 8px;
    border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
    color: var(--placeholder-color);
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--focus-border-color);
    background-color: var(--background-light);
}

label {
    color: #dddddd;
}

.form-control {
    background-color: var(--background-medium);
    color: var (--text-light);
}

.form-control:focus {
    background-color: var(--background-light);
    color: var(--text-light);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    text-align: justify;
    line-height: 1.6;
}


/* Espaciado y responsividad */
.mt-5 {
    margin-top: 3rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}